:root {
    --wine: #732001;
    --dark-wine: #511600;
    --dark-orange: #A85102;
    --skin-color: #F1BB76;
    --orange: #F1A104;
    --yellow: #F0B504;
    --white: #FFF;
    --black: #000;
}


/* https://color.adobe.com/Lombo-Recheado-com-farofa-presunto-e-queijo-color-theme-11191708/ */