@import url('colors.css');

nav {
    overflow: hidden;
    background-color: var(--wine);
    height: 8vh;
}

nav .container-fluid, nav .row {
    height: 100%;
}

nav ul.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: .2s all;
    border-bottom: 3px solid transparent;
}

nav ul.nav-menu a:hover {
    border-bottom: 3px solid white;
}

header {
    height: 92vh;
    background-image: url('../images/fundo-index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    /* padding: 50px 0; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

.box-header { 
    min-width: 300px;
    background-color: var(--wine);
    padding: 60px 50px;
    box-sizing: border-box;
    height: fit-content;
}

.box-header h1 {
    color: white;
    font-size: 22px;
    border-bottom: 1px solid white;
}

.box-header p {
    color: white;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: 300;
    border: 1px solid white;
    padding: 12px;
    transition: all 0.3s;
}

.btn:hover {
    color: #732001;
    background-color: white;
}

.receitas-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.receitas-box {
    text-align: center;
}

.receitas-box svg {
    fill: var(--dark-orange);
    width: 80px;
}

.receitas-box h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 20px;
}

.receitas-box p {
    font-size: 14px;
}

.receitas-icon--food {
    width: 70px !important;
    margin-bottom: 10px;
}

section.comidas-tipicas {
    background-image: url('../images/fundo-comidas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 60vh;
    display: flex;
    align-items: center;
}

.comidas-box {
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.comidas-box h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.comidas-box p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
}

.comidas-box .highlight {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 0;
    font-weight: bold;
    margin-bottom: 40px;
}

.btn-comidas:hover {
    color: black;
}

footer {
    background-color: var(--wine);
    color:white;
}

footer .footer-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

footer .footer-subtitle {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
}

footer .footer-text {
    font-size: 14px;
    font-weight: 300;
    margin: 30px 0;
}

footer .footer-highlight {
    margin: 0;
}

footer .footer-menu {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 30px;
}


footer .footer-menu a {
    text-transform: unset;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

footer .footer-menu a:hover {
    text-decoration: underline;
}

footer .footer-icons {
    margin: 0;
}

footer .footer-icons img {
    width: 30px;
    margin-right: 5px;
    display: inline-block;
}

footer .footer-form input, footer .footer-form textarea {
    display: block;
    width: 80%;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 5px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

footer .footer-form textarea {
    max-width: 80%;
}

footer .btn-footer {
    background: none;
    padding: 12px 25px;
    text-transform: uppercase;
    margin-top: 20px;
}

.form-obrigatorio {
    margin: 0;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 300;
    color: var(--yellow);
    display: none;
} 

footer .btn-footer:hover {
    cursor: pointer;
}

::placeholder {
    color: white;
}

div.copy {
    overflow: hidden;
    padding: 0;
    height: 9vh;
    color: white;
    background: var(--dark-wine);
}

div.copy .row {
    height: 100%;
    align-items: center;
}

div.copy .copy-text {
    text-align: center;
    margin: 0;
    font-weight: 300;
}

/* 
section.receitas div, section.comidas-tipicas div {
    width: 80%;
}

section.comidas-tipicas {
    background-color: #fff1df;
}

figure {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btnVejaMais {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px;
    transition: all 0.3s;
}

.btnVejaMais:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
} */